
footer {
    text-align: center;
    margin-top: 300px;
}

body {background-image: url(AbuAl3of2.png);
      background-repeat:no-repeat;
	  background-size: cover;
      background-position: center;

}
p {color:white;}


div  { color : white;
































